<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Lavanderia Crescer</title>
<link rel="stylesheet" type="text/css" href="home-stylesheet.css"></link>
<link rel="stylesheet" type="text/css" href="section.css"></link>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat"></link>
</head>
	<body>
		<div>
			<div class="imagem">
				<img th:src="${imagem}" width="1364" height="1043"></img>
			</div>	
			<div class = "titulo-links">		
				<h1 class="titulo" th:text="${mensagem}">Index</h1>		
				<div class = "links">
					<div class = "col col-s-4">
						<a th:href="${'/clientes/'}"><p>Clientes</p></a>
					</div>
					<div class = "col col-s-4">
						<a th:href="${'/clientes/'}"><p>Serviços</p></a>
					</div >
					<div class = "col col-s-4">
						<a th:href="${'/clientes/'}"><p>Sobre</p></a>
					</div>
				</div>
			</div>	
		</div>
	</body>
</html>