@model JogoDetalhesModel
@{
    ViewBag.Title = "DetalhesJogo";
}


<style>

    .info{
        margin-top: 20px;
        margin-bottom: 310px;
    }

   .imagem{
       display:inline-block;
       vertical-align:middle;
       margin-left: 25%;
   }

    .descricao{
        display:inline-block
    }

</style>

<h1 class="titulo">@Model.Nome</h1>


<img class="imagem" src="@Model.Imagem" />

<div class="info">
    <h4>Categoria: @Model.Categoria</h4>

    <p class="descricao">
        @Model.Descricao
    </p>
</div>

