@model JogoDetalhesModel
@{
    ViewBag.Title = "DetalhesJogo";
}


<style>
    .detalhes{
        overflow: hidden;
    }

   .descricao{
       padding-top:10px;
   }

</style>

<div class="jumbotron detalhes">
    <div class="col-xs-7">
        <h1 class="titulo">@Model.Nome</h1>

        <h2>Categoria: @Model.Categoria</h2>

        <p class="descricao">
            @Model.Descricao
        </p>
    </div>

    <img class="col-xs-5 imagem" src="@Model.Imagem" />

</div>


