@model JogoDetalhesModel
@{
    ViewBag.Title = "DetalhesJogo";
}


<style>

    html, body {
    width  : 100%;
    height : 100%;
}
    #overlay-back {
        position   : absolute;
        top        : 0;
        left       : 0;
        width      : 100%;
        height     : 100%;
        background : #000;
        opacity    : 0.6;
        filter     : alpha(opacity=60);
        z-index    : 5;
        display    : none;
    }

    #overlay {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
        z-index  : 10;
        display  : none;
    }
    #btn-video:hover {
        opacity: 0.2;
        cursor:pointer;
    }

    .detalhes{
        overflow: hidden;
    }
   .descricao{
       padding-top:10px;
   }
</style>

<div class="jumbotron detalhes">
    <div class="col-xs-7">
        <h1 class="titulo">@Model.Nome <img id="btn-video" src="~/Content/Images/youtube.png" /></h1>

        <h2>Categoria: @Model.Categoria</h2>

        <p class="descricao">
            @Model.Descricao
        </p>
    </div>

    <img class="col-xs-5 imagem" src="@Model.Imagem" />

    <div id="overlay-back"></div>
    <div id="overlay">

        <button id="fechar" class="btn btn-xs btn-danger" style="top:16%; right:28%; position: fixed">&times;</button>

        <div id="jogo-video" style="display:block; right:30%; top:16%; position:fixed">
            <iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/6syG5YFGPeo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>


    @section Scripts {
        <script>

            $('#btn-video').click(function () {
                $('#overlay, #overlay-back').fadeIn(500);
                $('#player').attr('src', 'https://www.youtube.com/embed/6syG5YFGPeo');
            });

            $('#fechar').on('click', function () {
                $('#overlay, #overlay-back').fadeOut(500);
                $('#player').attr('src', '');
            });

            $('#overlay').on('click', function () {
                $('#overlay, #overlay-back').fadeOut(500);
                $('#player').attr('src', '');
            });

        </script>
    }

</div>


