@model JogoDetalhesModel
@{
    ViewBag.Title = "DetalhesJogo";
    ViewBag.seloImagem = "SeloBronze.png";
}


@if(Model.Selo == "Ouro")
{
    ViewBag.seloImagem = "SeloOuro.png";
}
<style>
    .detalhes_header{
        border-bottom: groove;
        margin-bottom: 20px;
    }
    .titulo{
        display:inline-block;
        float:left;
    }
    .selo{
        display:inline-block;
        float:right;   
    }
    .btn-editar{
        display: inline-block;
        float: right;
        margin-top: 31px;
    }
</style>

<div class="detalhes_header">
    <h1 class="titulo">@Model.Nome</h1>
        <img clas="selo" src="@string.Format("/Content/Images/{0}", ViewBag.seloImagem)"/>
    <button class="btn-editar btn btn-info" onclick="location.href='/Jogo/Manter/' + @Model.Id">Editar</button>
</div>


<img src="@Model.Imagem" />

