body {
  margin: 0px;
  width: 100%;
  font-family: Open Sans;
}

section {
  width:60%;
  position:absolute;
  top:60%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
section table {
	
}

section tr {
	width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.button {
    border-radius: 45px;
    font-family: Montserrat Alternates;
    padding: 5px 30px;
    position: absolute;
    top: 10.5%;
    right: -10%;
    border: 4px white solid;
    font-size: 32px;
    color: white;
    font-weight: bolder;
}

.button:hover {
	-webkit-background-clip: padding-box:;
	color: rgba(0,0,0,.3);
	background-color: white;
}

li:active{
	background-color: #DCD9D9;
}

section span {
	color: #D83434;
	margin-left: 15px;
}

.header, .footer {
	background-image: url(http://startbootstrap.com/assets/img/bg.png);
	text-align: center;
    position: fixed;
    width: 100%;
    background-color: #428bca;
}

.footer {
    bottom: 0;
}

.header {
    top: 32px;
    padding: 25px;
}