body {
  margin: 0px;
  width: 100%;
  font-family: Open Sans;
}

section {
  width:60%;
  position:absolute;
  top:55%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

section tr {
	width: 100%;
}

li:active{
	background-color: #DCD9D9;
}

section span {
	color: #D83434;
	margin-left: 50px;
}

.header, .footer {
	background-image: url(http://startbootstrap.com/assets/img/bg.png);
	text-align: center;
    position: fixed;
    width: 100%;
    background-color: #428bca;
}

.footer {
    bottom: 0;
}

.header {
    top: 52px;
    padding: 15px;
}