<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <!--
    <add name="LOCADORA" connectionString="Server=NB-002670\SQLEXPRESS;Database=Locadora;User Id=sa;Password=Crescer$5;"/>
    -->
    <add name="LOCADORA" connectionString="Server=ZENEIDASOUSA-PC\SQLCWI;Database=Locadora;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>