<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Editar</title>
	</head>

	<body>
	
	<header>
    	<div class="header" style=" background-color: #b94a48;">
    	  <h1 layout:fragment="custom-header">Editar</h1>	
    	</div>  
    </header>

		<section layout:fragment="content">
		
		<form th:action="@{/clientes/editar}" th:object="${cliente}" class="form-group" method="post">
		
		      <input th:field="*{id}" type="hidden" />
			
			  <div th:classappend="${#fields.hasErrors('nome')} ? 'has-error'" class="form-group">
			    <label>Nome <span class="help-inline" th:errors="*{nome}"></span></label>
			    <input th:field="*{nome}" type="text" class="form-control"></input>
			  </div>
			  
			  <div th:classappend="${#fields.hasErrors('cpf')} ? 'has-error'" class="form-group">
			    <label>CPF <span class="help-inline" th:errors="*{cpf}"></span></label>
			    <input th:field="*{cpf}" type="text" class="form-control"></input>
			  </div>
			  
			  <div th:classappend="${#fields.hasErrors('email')} ? 'has-error'" class="form-group">
			    <label>Email <span class="help-inline" th:errors="*{email}"></span></label>
			    <input th:field="*{email}" type="text" class="form-control"></input>
			  </div>
			  
			  <div class="form-group">
			      <label>Cidade</label>
			      <select class="form-control" th:field="*{idCidade}">
			        <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
			      </select>
			    </div>
			    
			<button type="submit">Salvar</button>
			             
		</form>
		
		</section>
	
	
	</body>
	
</html>