<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Visualizar</title>
	</head>

	<body>
	
		<h2>Visualizar</h2>
		
		<form th:object="${cliente}">
			
			<p>
				<label class="control-label">Nome: </label>
				<input th:field="*{nome}" type="text" disabled="true" />
			</p>
			
			<p>
				<label class="control-label">CPF: </label>
		 		<input th:field="*{cpf}" type="text" disabled="true"/>
			</p>
			
			<p>
		 		<label class="control-label">Email: </label>
		 		<input th:field="*{email}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<label class="control-label">Cidade: </label>
		 		<select th:field="*{idCidade}" disabled="true">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
		</form>
	
	
	</body>
	
</html>