<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Visualizar</title>
	</head>
	<body>
	
	<header>
    	<div layout:fragment="custom-header" class="header" style="background-color: #4DAB4F;">
    	  <h1>Visualizar</h1>	
    	</div>  
    </header>
		
		<section layout:fragment="content">
		
			<form th:object="${cliente}" class="form-group">
			
			  <div class="form-group">
			    <label>Nome</label>
			    <input th:field="*{nome}" type="text" class="form-control" disabled="true"></input>
			  </div>
			  
			  <div class="form-group">
			    <label>CPF</label>
			    <input th:field="*{cpf}" type="text" class="form-control" disabled="true"></input>
			  </div>
			  
			  <div class="form-group">
			    <label>Email</label>
			    <input th:field="*{email}" type="text" class="form-control" disabled="true"></input>
			  </div>
			  
			  <div class="form-group">
			      <label>Cidade</label>
			      <select class="form-control" th:field="*{idCidade}" disabled="true">
			        <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
			      </select>
			    </div>
			  
			</form>
		
		</section>
	
	<footer>
      <div layout:fragment="custom-footer" class="footer" style="background-color: #4DAB4F;">
	      <h4> &copy; 2015 - CWI Crescer </h4>
      </div>
    </footer>
	
	</body>
	
</html>