<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Clientes</title>
	</head>

	<body>
	
	<h2>Clientes</h2>
	
	<section layout:fragment="content">
		<div th:if="${not #lists.isEmpty(clientes)}">
	        
	        <table class="table table-bordered table-hover">
	        
	            <tr>
	                <th>Nome</th>
	                <th>CPF</th>
	                <th>Email</th>
	                <th>Visualizar</th>
	                <th>Editar</th>
	                <th>Remover</th>
	            </tr>
	            <tr th:classappend="${cliente.situacao == 'INATIVO'} ? 'danger'" th:each="cliente : ${clientes}">
	                <td th:text="${cliente.nome}"></td>
	                <td th:text="${cliente.cpf}"></td>
	                <td th:text="${cliente.email}"></td>
	                <td><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
	                <td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
	                <td><a th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
	            </tr>
	        </table>
	    </div>
	    
	  </section>
		
	</body>
	
</html>