<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Cadastrar</title>
    </head>
	<body>
	
		<style>
		
		span {
			color: red;
		}
		
		</style>
		
		<section layout:fragment="content">
		<form th:action="@{/clientes/cadastrar}" th:object="${cliente}" class="form-group" method="post">
    
            <input th:field="*{id}" type="hidden" />
            
            <p>
                <label class="control-label">Nome: </label>
                <input th:field="*{nome}" type="text"/>
                <br></br><span th:errors="*{nome}"></span>
            </p>
            
            <p>
                <label class="control-label">CPF: </label>
                 <input th:field="*{cpf}" type="text" />
                 <br></br><span th:errors="*{cpf}"></span>
            </p>
            
            <p>
                 <label class="control-label">Email: </label>
                 <input th:field="*{email}" type="text"/>
                 <br></br><span th:errors="*{email}"></span>
             </p>
             
             <p>
                 <label class="control-label">Endereço: </label>
                 <input th:field="*{endereco}" type="text"/>
             </p>
             
             <p>
                 <label class="control-label">Bairro: </label>
                 <input th:field="*{bairro}" type="text"/>
             </p>
             
             <p>
                 <label class="control-label">Cidade: </label>
                 <select th:field="*{idCidade}">
                    <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
                </select>
            </p>
            
            <p>
                 <label class="control-label">CEP: </label>
                 <input th:field="*{cep}" type="text"/>
             </p>
             
             <button type="submit">Salvar</button>
             
        </form>
        
        </section>
</body>
</html>