@{
    ViewBag.Title = "Página Inicial";
}


<img style=" margin-top:10px;  margin-left:-5%; float:left; display:inline-block;" src="~/Content/Images/Logo.png" />

<h1 style="float:left; font-size:80px; margin-top:15%; display:inline-block">Mind Games <br /> Locadora</h1>

<div style="height:400px;"></div>