<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title th:text="'Pedido #0' + ${pedido.idPedido}">Pedidos</title>
		<style>
		.input-group { 
			font-size: 14px !important; 
			margin-bottom: 4px;
		}
		
		span {
			color: #009688 !important;
		}
		
		</style>
		
	</head>

	<body>
	
	<form layout:fragment="pesquisa">      
      </form>
	
	<h2>Pedidos</h2>
	
	<div style="background-color:#009688;" layout:fragment="custom-header" class="header">
	    <h1 th:text="'Pedido #0' + ${pedido.idPedido} + ' - Itens'"></h1>	
	 </div>
	
	<section style="overflow:visible;" layout:fragment="content">
	
	<div th:if="${mensagem != null}" class="alert alert-success" style="position: absolute;top: -15%;right: 35%;">
		  <strong>Success!</strong> <span th:text="${mensagem}"></span>
		</div>
	
		<div class="jumbotron col-sm-4">
			<div class="input-group input-group-sm">
				<div class="input-group">
					<span style="padding-right: 30px;" class="span input-group-addon" id="basic-addon3">Inclusão</span>
					<input th:value="*{pedido.dataInclusao.toString().substring(0, 10)}" type="text" class="form-control" aria-describedby="sizing-addon3" />
				</div>
				<div class="input-group">
					<span style="padding-right: 33px;" class="span input-group-addon" id="basic-addon3">Entrega </span>
					<input th:value="*{pedido.dataEntrega}" type="text" class="form-control" aria-describedby="sizing-addon3" />
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3"> Valor bruto </span>
					<input th:value="${'R$ ' + #numbers.formatDecimal(pedido.valorBruto, 0, 'COMMA', 2, 'POINT')}" type="text" class="form-control" aria-describedby="sizing-addon3" />
				</div>
	  			<div class="input-group">
					<span style="padding-right: 23px;" class="span input-group-addon" id="basic-addon3">Desconto</span>
					<input th:value="${'R$ ' + #numbers.formatDecimal(pedido.valorDesconto, 0, 'COMMA', 2, 'POINT')}" type="text" class="form-control" aria-describedby="sizing-addon3" />
				</div>
				<div class="input-group">
					<span style="padding-right: 21px;" class="span input-group-addon" id="basic-addon3">Valor final</span>
					<input th:value="${'R$ ' + #numbers.formatDecimal(pedido.valorFinal, 0, 'COMMA', 2, 'POINT')}" type="text" class="form-control" aria-describedby="sizing-addon3" />
				</div>	  			
			</div>
			</div>
	
			<div class="col-sm-8">
				<div th:if="${not #lists.isEmpty(pedido.itens)}">
			        
			        <table class="table table-bordered table-hover">
			        	<tr>
			        		<th colspan="3" style="text-align: center; width:50%"><a th:href="${'/pedidos/processarItens/' + pedido.idPedido}">Processar Itens</a></th>
		    				<th colspan="3" style="text-align: center;"><a th:href="${'/pedidos/selecionarProduto/' + pedido.idPedido}">Adicionar Item</a></th>
			        	</tr>
			            <tr>
			                <th>Serviço</th>
			                <th>Material</th>
			                <th>Peso</th>
			                <th>Valor total</th>
			                <th>Situação</th>
			            </tr>
			            <tr th:each="item : ${pedido.itens}">
			                <td th:text="${item.produto.servico.descricao}"></td>
			                <td th:text="${item.produto.material.descricao}"></td>
			                <td th:text="${item.peso}"></td>
			                <td th:text="${item.valorTotal}"></td>
			                <td th:text="${item.situacao}"></td>
			            </tr>
			        </table>
			    </div>
			</div>
	    
	  </section>
	  
	  <footer>
      <div style="background-color:#009688;" layout:fragment="custom-footer" class="footer">
	      <h4> &copy; 2015 - CWI Crescer </h4>
      </div>
    </footer> 
		
	</body>
	
</html>