<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Cadastrar</title>
	</head>

	<body>
	
	<form layout:fragment="pesquisa">      
      </form>
	
	<header>
    	<div layout:fragment="custom-header" class="header" style="background-color: #BD8E3D;">
    	  <h1>Cadastrar</h1>	
    	</div>  
    </header>

		<section style="width:45%" layout:fragment="content">
		
		<form th:action="@{/pedidos/cadastrar}" th:object="${pedido}" class="form-group" method="post">
		
			<input th:field="*{id}" type="hidden" />
		
			    <div class="form-group">
			      <label>Cliente: </label>
			      <select class="form-control" th:field="*{cliente.idCliente}">
			      	<option selected="selected" th:value="${null}">Selecione</option>
			        <option th:each="c : ${clientes}" th:text="${c.nome}" th:value="${c.idCliente}" ></option>
			      </select>
			    </div>
			    
			<button class="btn btn-primary" type="submit">Salvar</button>
			             
		</form>
		
		</section>
	
	<footer>
      <div layout:fragment="custom-footer" class="footer" style="background-color: #BD8E3D;">
	      <h4> &copy; 2015 - CWI Crescer </h4>
      </div>
    </footer>
	
	</body>
	
</html>