<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Editar</title>
	</head>

	<body>
	
	<header>
    	<div layout:fragment="custom-header" class="header" style="background-color: #b94a48;">
    	  <h1>Editar</h1>	
    	</div>  
    </header>

		<section layout:fragment="content">
		
		<form th:action="@{/produtos/editar}" th:object="${produto}" class="form-group" method="post">
		
		      <input th:field="*{id}" type="hidden" />
			
			  <div class="form-group">
			      <label>Serviço: </label>
			      <select class="form-control" th:field="*{servico.idServico}">
			        <option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}" ></option>
			      </select>
			    </div>
			    
			    <div class="form-group">
			      <label>Material: </label>
			      <select class="form-control" th:field="*{material.idMaterial}">
			        <option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}" ></option>
			      </select>
			    </div>
			    
			    <div class="form-group" th:classappend="${#fields.hasErrors('situacao')} ? 'has-error'">
			 		<label class="control-label">Situacao: </label>
			 		<select class="form-control" th:field="*{situacao}">
							<option th:text="ATIVO" th:value="ATIVO"></option>
							<option th:text="INATIVO" th:value="INATIVO"></option>
						</select>
		            <span class="help-inline" th:errors="*{situacao}"></span>
	            </div>
	            
	          <div th:classappend="${#fields.hasErrors('valor')} ? 'has-error'" class="form-group">
			    <label>Valor: </label>
			    <div class="input-group">
			      <div class="input-group-addon">R$</div>
			      <input style="width:10%" th:field="*{valor}" type="text" class="form-control" placeholder="Quantidade" />
			    </div>
			  </div>
	            
	           <div th:classappend="${#fields.hasErrors('valor')} ? 'has-error'" class="form-group">
			    <label>Prazo: </label>
			    <div class="input-group">
			      <div class="input-group-addon">Dias</div>
			      <input style="width:9%" th:field="*{prazo}" type="text" class="form-control" placeholder="Prazo" />
			    </div>
			  </div>
			    
			<button class="btn btn-primary" type="submit">Salvar</button>
			             
		</form>
		
		</section>
	
	<footer>
      <div layout:fragment="custom-footer" class="footer" style="background-color: #b94a48;">
	      <h4> &copy; 2015 - CWI Crescer </h4>
      </div>
    </footer>
	
	</body>
	
</html>