body {
  margin: 0;
}

#formBusca [name=textoBusca] {
  height: 35 !important;
}

#capas-albuns {
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
}

#capas-albuns li img {
  padding: 5;
}

.escondido {
  display: none;
}

.bar {
  width: 45% !important;
}