@model DevolucaoModel
@{
    ViewBag.Title = "View";
}

@if (TempData["MensagemDevolucao"] != null)
{
    <div style="margin-top: 10px;" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Sucesso!</strong> @TempData["MensagemDevolucao"]
    </div>
}

<div style="margin-bottom: -350px;">
    <h2 class="col-xs-4">Devolução</h2>

    <div style="margin-top: 18px" class="col-xs-6">
        @using (Html.BeginForm("ExibirLocacao", "Devolucao", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-lg-offset-3 col-xs-3">
                <input id="pesquisaNome" class="form-control input-lg " type="text" name="buscaLocacao" placeholder="Procurar locação por jogo" style="width: 294px;">
            </div>
            <div class="col-xs-6">
                <button type="submit" id="btn-locar" class="btn btn-lg btn-default" style="margin-left: 190px;">Buscar</button>
            </div>
        }
    </div>
</div>

    @if (Model != null)
    {
        foreach (var locacao in Model.Locacoes)
          {
          <div style="margin-top:430px">
              @Html.Partial("_InformacaoJogoLocacao", new JogoLocacaoModel(locacao));
          </div>
          }
    }
    
